---
import { ArrowRightIcon } from '@heroicons/react/24/solid';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { Footer } from '../../components/react/footer';
import { Container } from '../../components/react/container'
import { Grid } from '../../components/react/grid';
import { PageHeaderSubtitle, PageHeaderWrapper } from '../../components/react/pageHeader';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const allBlogPosts = await getCollection('blog')
const posts = allBlogPosts.sort(
	(left, right) => {
		return right.data.publishedAt.valueOf() - left.data.publishedAt.valueOf()
	}
);
---

<!doctype html>
<html lang="en" data-theme="dark" transition:animate="none">
	<head>
		<BaseHead
			title="Blog"
			displayTitle={`Blog - ${SITE_TITLE}`}
			description={SITE_DESCRIPTION}
			keywords={['blog', 'posts', 'announcement', 'msw', 'mswjs']}
		/>
	</head>
	<body>
		<Header />
		<main>
			<Container>
				<Grid>
					<div class="sm:col-span-8 lg:col-start-3">
						<PageHeaderWrapper className="mt-16 md:mt-24">
							<h1 class="mb-8 capitalize">Blog</h1>
							<PageHeaderSubtitle className="md:w-3/6">
								News and announcements from the Mock Service Worker team.
							</PageHeaderSubtitle>
						</PageHeaderWrapper>
					
						<ul class="mb-16 space-y-5 md:space-y-10">
							{posts.map((post) => (
								<li>
									<article class="p-10 flex items-start gap-8 bg-neutral-800 bg-opacity-40 border border-neutral-800 rounded-lg">
										<img src={post.data.thumbnailUrl} alt={post.data.title} class="inline-flex w-32 drop-shadow-md" />
										<div>
											<a href={`/blog/${post.slug}`}
											class="mb-2 inline-block text-2xl font-bold text-white hover:underline"
											>{post.data.title}</a>
											<p class="text-sm text-neutral-400 font-medium font-mono italic">
												<FormattedDate
													date={post.data.publishedAt}
												/>
											</p>
											{post.data.description ? (
												<p class="mt-5 text-neutral-300">
													{post.data.description}
												</p>
											) : null}
											<a
												href={`/blog/${post.slug}`}
												class="button button-secondary inline-flex items-center mt-8 group"
											>
												Read more
												<ArrowRightIcon className="w-3 ml-2 transition-transform group-hover:translate-x-1.5" />
											</a>
											</div>
									</article>
								</li>
							))}
						</ul>
					</div>
				</Grid>
			</Container>
		</main>
		<Footer />
	</body>
</html>
