---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	displayTitle?: string
	description?: string;
	image?: string;
	keywords?: Array<string>
	author?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, displayTitle, description, image = '/og-image.jpg', keywords, author } = Astro.props;

const { ALGOLIA_APP_ID } = import.meta.env
---

<!-- Font preloads -->
<link rel="preload" href="/fonts/inter/inter-variable.woff2" as="font" type="font/woff" />
<link rel="preload" href="/fonts/monolisa/0-normal.woff2" as="font" type="font/woff" />
<link rel="preload" href="/fonts/monolisa/1-italic.woff2" as="font" type="font/woff" />

<link rel="reload" href="/fonts/inter/inter.css" as="style" />
<link rel="reload" href="/fonts/monolisa/monolisa.css" as="style" />
<link rel="stylesheet" href="/fonts/inter/inter.css" />
<link rel="stylesheet" href="/fonts/monolisa/monolisa.css" />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<!-- Faivicon -->
<link rel="icon" type="image/svg+xml" href="/icon.svg" />
<link rel="icon" type="image/png" sizes="any" href="/icon.png" />
<link rel="apple-touch-icon" href="/icon-apple.png" />
<link rel="manifest" href="/manifest.json" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{displayTitle || title}</title>
<meta name="title" content={title} />
{description ? (
	<meta name="description" content={description} />
) : null}

{keywords && keywords.length > 0 ? (
	<meta name="keywords" content={keywords.join(', ')} />
) : null}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

{author ? (
	<meta name="author" content={author} />
) : null}

<!-- DocSearch (Algolia) -->
<link rel="preconnect" href={`https://${ALGOLIA_APP_ID}-dsn.algolia.net`} crossorigin />

<ViewTransitions />
